<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin</title>
    <link rel="stylesheet" href="/coin.css">
</head>
<body>
    <h1>Lets Ready to Play Coin Tossing Game!!</h1>
    <h4>Click below button ⬇️</h4>
    <button>Click to Toss!!!</button>
    <h3></h3>
    <script src="/coin.js"></script>
</body>
</html>