<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice</title>
    <link rel="stylesheet" href="/dice.css">
</head>
<body>
    <h1>Lets Ready to Play Dice Game!!</h1>
    <h4>Click below button ⬇️</h4>
    <button>Click to Roll!!!</button>
    <h3></h3>
    <h4 id="h4"></h4>
    <script src="/dice.js"></script>
</body>
</html>