<%- include("includes/head.ejs")%>

    <body>
        <h1>Which Games you want to play??</h1>
        <div>
            <a href="/simon"><button class="Simon">Simon Says Game</button></a>
            <a href="/dice"> <button class="dice">Dice Roll</button></a>
            <a href="/coin"><button class="coin">Coin toss</button></a>
        </div>
    </body>